params {
    input   = "test_data/fastq/*.fastq.gz"
    meta    = "test_data/sample_small.csv"
    threads = 6
    jobs    = 2
}

process {
    executor = 'local'
    cpus = params.threads
    memory = '16 GB'
    time = '24h'

    withName:AUTOCYCLER {
        container = 'seqwell/autocycler:0.5.2'
        
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) -v /tmp:/tmp'
}
