// ---- Global Docker settings ----
docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

// ---- Global AWS credentials (only used if awsbatch profile is active) ----
aws {
  accessKey = '*'
  secretKey = '*'
  region = 'us-east-2'
}

// ---- Default parameters ----
params {
    input   = "test_data/fastq/*.fastq.gz"
    meta    = "test_data/sample_small.csv"
    output  = "output"
    threads = 2
    jobs    = 2
}

// ---- Profiles ----
profiles {

  // --- For GitHub Actions CI or local dev ---
  test {
    process.executor = 'local'
    docker.enabled = true
    params {

      input   = "test_data/fastq/*.fastq.gz"
      meta    = "test_data/sample.csv"
      output  = "ci_output"
      threads = 2
      jobs    = 2
    }
  }

  // --- Optional: production run with AWS Batch ---
  awsbatch {
    process {
      executor = 'awsbatch'
      queue = 'spot_low_priority'
      container = 'seqwell/autocycler:0.5.2'
      memory = '8 GB'
      cpus = 2
    }

    aws {
      accessKey = '*'
      secretKey = '*'
      region = 'us-east-2'
    }
  }
}

// ---- Process-specific settings (default local + docker) ----
process {
  withName: AUTOCYCLER {
    executor = 'local'
    container = 'seqwell/autocycler:0.5.2'
    memory = '8.0G'
    cpus = 2
  }
}