params {
    input   = "data/*.fastq.gz"
    threads = 6
    jobs    = 2
}

process {
    executor = 'local'
    cpus = params.threads
    memory = '16 GB'
    time = '24h'

    withName:AUTOCYCLER {
        container = 'seqwell/autocycler:0.5.2'
        ccontainerOptions = '--platform linux/amd64'
    }
}

docker.enabled = true
